/* Write your code here. */
* {
  box-sizing: 0px;
  font-family: "Roboto";
}
body {
  margin: 0px;
}
.bg-container {
  background-image: url("https://assets.ccbp.in/frontend/react-js/congrats-card-bg.png");
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main-heading {
  color: #0f172a;
  font-weight: 500;
  font-size: 32px;
}

@media screen and (min-width: 768px) {
  .heading {
    font-size: 64px;
  }
}
.card {
  background-color: #cffafe;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  border-radius: 12px;
  padding: 24px;
  margin-top: 18px;
}

@media screen and (min-width: 768px) {
  .card {
    width: 50%;
    padding: 48px;
    margin-top: 24px;
  }
}

@media screen and (min-width: 992px) {
  .card {
    width: 40px;
  }
}

@media screen and (min-width: 1200px) {
  .card {
    width: 30%;
  }
}
.card-image {
  height: 145px;
  width: 145px;
}
.card-title {
  font-size: 24px;
  color: #1e293b;
  font-weight: 500;
  margin-top: 24px;
}
@media screen and (min-width: 768px) {
  .card-title {
    font-size: 32px;
  }
}
.card-description {
  font-size: 14px;
  color: #1e293b;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .card-description {
    font-size: 18px;
  }
}
.watch-image {
  margin-top: 24px;
}
